<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Location</title>
    <div th:replace="header"></div>
    <meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
</head>
<body>

<h1>Location</h1>
<form action="/meteo" method="post">
    <div>
        <label for="address">Please input your adress :</label>
        <input name="address" id="address">
    </div>
    <div>
        <button>Get the weather at the given address !</button>
    </div>
</form >
</body>
</html>